streamlit
pymupdf
pytesseract
opencv-python
opencv-python-headless
numpy
fpdf2
jiwer
Pillow
reportlab
langdetect
pandas
easyocr
torch
torchvision
transformers
sentencepiece
protobuf
reportlab










